div {
    margin: 10px;
    padding: 20px;
    border: 1px solid lightpink;
    border-radius: 25px;
    display: flex;
}
.megisfeher{
    background-color: white;
    border-radius: 25px;
    width:160px;

}
#lista{
    background-color:lightgray;
}


h1,
h2 {
    text-align: center;
}

a {
    padding: 10px;
    border-radius: 25px;
    background-color: lightgreen;
    color: white;
    flex: 1 1 auto;
}

    a:hover {
        
        background-color: lightcyan;
        color:black;
    }

span {
    font-weight: bold;
    font-style: italic;
    color: lightpink;
    font-size: 40px;
}

#lista {
    background-color: lightgrey;
}

.megisfeher {
    background-color: white;
    width: 100px;
    border-radius: 25px;
}

.sorrendi {
    font-style: italic;
}

img {
    display: block;
    margin: auto;
}

* {
    box-sizing: border-box;
}
body {
    display: flex;
}
#article {
    flex: 1 1 75%;
}

#aside {
    flex: 1 1 25%;
}